* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 40%; // 1rem = 10px, 10px/16px = 62.5%
}

@media only screen and (min-width: 480px) {
  html {
    font-size: 62.5%;
  }
}
@media only screen and (min-width: 2160px) {
  html {
    font-size: 100%;
  }
}
body {
  display: grid;
  gap: 2rem;
  font-family: $font-primary;
  margin: 3rem 10vw;
  color: $colour-primary--dark;
  background-color: $colour-light;
  font-size: 1.6rem;
}
