$colour-primary--dark: rgb(67, 127, 199);
$colour-primary--light: rgb(109, 175, 254);
$colour-delete: rgb(236, 98, 98);
$colour-positive: rgb(85, 201, 102);
$colour-dark: rgb(6, 53, 50);
$colour-light: rgb(237, 246, 255);
$colour-grey: rgb(223, 233, 243);
$colour-black: rgb(31, 40, 51);

$font-primary: 'Oswald', sans-seriff;
