.breakdown {
  grid-area: breakdown;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  gap: 2rem;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__inc .breakdown__header {
    color: $colour-positive;
  }
  &__exp .breakdown__header {
    color: $colour-delete;
  }
}
